<div class="Login container-fluid h-100">

    <div class="Login-row row h-100 m-0 p-0">

        <!-- whiteSpace -->
        <div class="Login-section col-md-4"></div>
        <!-- end whiteSpace -->

        <!-- Form -->
        <div class="Login-section col-md-3 px-5 my-auto">
            <form action="" class="Login-form">

                <div class="Login-contImg text-center pb-5">
                    <img src="assets/logo.jpg" alt="" class="Login-logo my-2">
                </div>

                <div class="Login-descriptions mb-5">
                    <h2 class="Login-h2 fw-bold">Iniciar Sesión</h2>
                    <p>No tienes una cuenta? Crear Cuenta</p>
                </div>

                <!-- INPUTS  -->
                <div class="Login-group mb-3">
                    <label for="email" class="form-label">Correo Electrónico *</label>
                    <input type="text" id="email" class="form-control form-control-lg">
                </div>

                <div class="Login-group">
                    <label for="password" class="form-label">Contraseña *</label>
                    <input type="password" id="password" class="form-control form-control-lg">
                </div>


                <div class="row Login-row m-0 p-0 mt-4">
                    <div class="Login-col col-md-6">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" value="" id="check">
                            <label for="" class="form-check-label" for="check">Recuérdame</label>
                        </div>
                    </div>

                    <div class="Login-col col-md-6">
                        <p class="lead fs-6"> <a routerLink="/auth/register">Aún no tienes una cuenta?</a> </p>
                    </div>
                </div>

                <!-- END INPUTS -->


                <!-- BUTTON SUBMIT -->
                <div class="d-flex mt-3">
                    <button class="Login-button btn btn-danger py-3 w-100" routerLink="/e-shop/home"
                        type="submit">Ingresar</button>
                </div>

            </form>
           <a routerLink="/lpm/principal/procesos">url</a>
        </div>
        <!-- End form -->

        <!-- Image -->
        <div class="Login-section col-md-5">
            <img src="assets/zelda.jpg" alt="" class="Login-img">
        </div>
        <!-- end image -->
    </div>


</div>