@use "src/_custom";

.Login {
    display: flex;
    flex-direction: column;

    &-section {
        margin: 0;
        padding: 0;
    }

    &-row {}


    &-img {
        object-fit: cover;
        object-position: 80%;
        height: 100%;
        width: 100%;
    }

    &-logo {
        max-height: 10rem;
    }
}