@use "src/_custom" as *;

.Valores {
  &-col {
    padding: 1rem;
  }

  &-img {
    height: 100%;
  }
  &-images {
    width: 50%;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}
