@use "src/_custom" as *;

.Banner {
    @include media-breakpoint-down(lg) {
        overflow-y: scroll;
        max-height: 30rem;
    }

}


.Agregar {

    &-svg {

        &:hover {
            cursor: pointer;
        }

    }

}