<form class="Search-form d-flex position-relative" role="search">
    <input class="Search-input form-control form-control-sm me-2 border-bottom" type="search" placeholder="Buscar..."
        aria-label="Search" #search (input)="getSearch(search)">

    <ul class="Search-ul nav nav-pills position-absolute flex-column pt-5 " *ngIf="resultsSearch.length>0">
        <li class="nav-item  pt-2" *ngFor="let result of resultsSearch">
            <a class="Search-a nav-link" (click)="navigateToRoute(result)">
                {{result.titulo2 | titlecase}}</a>
        </li>
    </ul>
</form>