<div class="AddUser p-0" data-bs-theme="light">
  <div class="AddUser-header py-4 px-5 border">
    <div class="container">
      <h2 class="fw-bold">Menú Perfiles</h2>
    </div>
  </div>

  <div class="AddUser-container container">
    <div class="AddUser-row row m-0 border-top">
      <!-- select users for edit -->
      <div class="col-xl-6 border-end px-5 py-3">
        <h3>Perfiles registrados</h3>
        <table class="AddUser-table table table-striped">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Status</th>
              <th scope="col">Email</th>
              <th scope="col">Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of users; let i = index"
              (click)="getInfoByUser(user.id ?? '')"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td [ngClass]="getUserClass(user)">
                {{ user.isActive | statusUser | titlecase }}
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.nombre | titlecase }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- add User -->
      <div class="col-xl-6 px-md-5 p-4">
        <div class="AddUser-title mt-4">
          <h1 class="fw-bold display-5">Editar perfil</h1>
        </div>

        <form
          action=""
          (ngSubmit)="send()"
          class="AddUser-form row row gy-4 mt-3"
          [formGroup]="formUser"
        >
          <label for="" class="">Elige el tipo de usuario:</label>
          <div
            class="AddUser-radioButtons col-md-12 d-flex justify-content-evenly"
          >
            <div class="form-check border px-5 py-3 rounded-2">
              <input
                class="form-check-input"
                type="radio"
                formControlName="roles"
                id="exampleRadios1"
                value="user"
                checked
              />
              <label class="form-check-label" for="exampleRadios1">
                Usuario
              </label>
            </div>

            <div class="form-check border px-5 py-3 rounded-2">
              <input
                class="form-check-input"
                type="radio"
                formControlName="roles"
                id="exampleRadios2"
                value="admin"
              />
              <label class="form-check-label" for="exampleRadios2">
                Administrador
              </label>
            </div>
          </div>

          <div class="col-md-12 d-flex justify-content-center">
            <img
              [src]="
                this.formUser.get('imagenUrl')?.value || 'assets/loginBg.jpg'
              "
              class="AddUser-imgUser"
              alt=""
            />
          </div>

          <div class="AddUser-group form-group col-md-6">
            <label class="form-label" for="nombre">{{
              "nombre" | titlecase
            }}</label>
            <input
              type="text"
              class="AddUser-input form-control"
              formControlName="nombre"
            />
            <small class="text-danger" *ngIf="detectProblem('nombre')"
              >Este campo es obligatorio</small
            >
          </div>

          <div class="AddUser-group form-group col-md-6">
            <label class="form-label" for="apellido">{{
              "apellido" | titlecase
            }}</label>
            <input
              type="text"
              class="AddUser-input form-control"
              formControlName="apellido"
            />
            <small class="text-danger" *ngIf="detectProblem('apellido')"
              >Este campo es obligatorio</small
            >
          </div>

          <div class="AddUser-group form-group col-md-12">
            <label class="form-label" for="email">{{
              "email" | titlecase
            }}</label>
            <input
              type="text"
              class="AddUser-input form-control"
              formControlName="email"
            />
            <small class="text-danger" *ngIf="detectProblem('email')"
              >Este campo es obligatorio</small
            >
          </div>

          <div class="AddUser-group form-group col-md-12">
            <label class="form-label" for="direccion">{{
              "dirección" | titlecase
            }}</label>
            <input
              type="text"
              class="AddUser-input form-control"
              formControlName="direccion"
            />
          </div>

          <div class="AddUser-group form-group col-md-6">
            <label class="form-label" for="pais">{{
              "País" | titlecase
            }}</label>
            <input
              type="text"
              class="AddUser-input form-control"
              formControlName="pais"
            />
          </div>

          <div class="AddUser-group form-group col-md-6">
            <label class="form-label" for="">{{ "ciudad" | titlecase }}</label>
            <input
              type="text"
              class="AddUser-input form-control"
              formControlName="ciudad"
            />
          </div>

          <div class="AddUser-group form-group col-md-12">
            <label class="AddUser-label form-label" for="imagenUrl"
              >Imagen: *Pegar Url</label
            >
            <input
              type="imagenUrl"
              class="AddUser-input form-control"
              formControlName="imagenUrl"
            />
          </div>

          <div class="AddUser-group form-group col-md-12">
            <label class="AddUser-label form-label" for="password"
              >Contraseña:</label
            >
            <input
              type="password"
              class="AddUser-input form-control"
              formControlName="password"
            />
            <small class="text-danger" *ngIf="detectProblem('password')"
              >Este campo es obligatorio</small
            >
          </div>

          <div class="d-flex justify-content-evenly justify-content-md-evenly">
            <button
              class="AddUser-button btn btn-info px-4 py-3 text-light"
              type="submit"
            >
              Actualizar
            </button>

            <button
              class="AddUser-button btn btn-danger px-4 py-3"
              type="button"
              (click)="deleteUser()"
            >
              Borrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
