.AddUser {
  &-title {
    gap: 1rem;
    display: flex;
    align-items: center;
  }

  &-imgUser {
    width: 9rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &-table {
    cursor: pointer;
  }

  &-input {
    &::placeholder {
      color: white;
    }
  }

  &-button {
    white-space: nowrap;
  }
}
