<div class="AddUser p-0" data-bs-theme="light">
  <div class="AddUser-header py-2 px-5 border">
    <div class="AddUser-menu container">
      <h2 class="fw-bold">Menú Perfiles</h2>
      <div class="AddUser-search position-relative">
        <input
          type="name"
          class="AddUser-input form-control"
          (input)="getText($event)"
          placeholder="Buscar usuario"
        />
        <ul
          #menuV
          *ngIf="usersFilter && menuVisible"
          class="AddUser-ul position-absolute w-100 list-group"
        >
          <li
            *ngFor="let userFilter of usersFilter"
            class="AddUser-li list-group-item"
            (click)="prueba(userFilter.id)"
          >
            <a class="AddUser-a">{{
              userFilter.nombre + " " + userFilter.apellido
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="container mb-5">
    <div
      *ngIf="usersFilter.length == 0"
      class="alert alert-danger mt-5"
      role="alert"
    >
      No hay usuarios para mostrar.
    </div>

    <section
      class="AddUser-section SectionU card my-2"
      *ngFor="let user of usersFilter"
    >
      <div class="SectionU-header card-header">
        <small> User Details</small>
        <div class="SectionU-options SectionU-options--select dropdown">
          <svg
            viewBox="0 0 4 12"
            width="8"
            height="12"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <circle cx="2" cy="2" r="2" fill="#255" />
            <circle cx="2" cy="6" r="2" fill="#034" />
            <circle cx="2" cy="10" r="2" fill="#000" />
          </svg>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="goToEditPerfil(user.id ?? '')"
                >Editar perfil</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="deleteUser(user.id ?? '')"
                >Eliminar perfil</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <div class="SectionU-row row">
          <div class="SectionU-col col-md-2 SectionU-col--images">
            <img
              [src]="user.imagenUrl | image"
              alt="identifierImg"
              class="SectionU-img img-fluid rounded-2"
            />
          </div>
          <div class="SectionU-col col-md-4">
            <div class="">
              <small>Name:</small>
              <h6>{{ user.nombre + " " + user.apellido | titlecase }}</h6>
            </div>

            <div class="mt-4">
              <small>Email:</small>
              <h6>{{ user.email }}</h6>
            </div>
          </div>
          <div class="SectionU-col col-md-6">
            <div class="">
              <small>Roles:</small>
              <h6>{{ user.roles | titlecase }}</h6>
            </div>

            <div class="">
              <small>Status:</small>
              <h6>{{ user.isActive | statusUser }}</h6>
            </div>

            <div class="">
              <small>Id:</small>
              <h6>{{ user.id }}</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--  -->
</div>
