<app-nav-principal></app-nav-principal>
<div class="bg-dark" style="border: 0.5px solid #212529">
  <div class="Design container">
    <!-- first menu -->
    <div class="Design-menu row">
      <div class="Design-col col-md-6">
        <div class="Design-title mb-4">
          <h1 class="Design-h1 display-4 text-light">
            Guía para el sistema de contabilidad
          </h1>
          <p class="Design-p Design-p--subtitle w-75 mt-4">
            El sistema de contabilidad 2 tiene una curva de aprendizaje mayor
            debido a que hay cierta particularidad con algunos procesos y no
            seguirlos corractamente puede generar problemas.
          </p>

          <button
            routerLink="/lpm/principal/valores"
            class="Design-button btn px-5 py-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z"
              />
              <path
                d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z"
              />
            </svg>

            <h6 class="Design-h6 mx-3">Ir a la guía</h6>
          </button>
          <div class="Design-code d-flex mt-4">
            <pre id="code" class="Design-pre"></pre>
          </div>
        </div>
      </div>
      <div class="Design-col col-md-6 mt-3">
        <div class="Design-presets">
          <div class="Design-imagenes">
            <img src="assets/img-front/p1.png" class="Design-img" #img alt="" />
            <img src="assets/img-front/p2.png" class="Design-img" #img alt="" />
            <img src="assets/img-front/p4.png" class="Design-img" #img alt="" />
          </div>
          <div class="Design-menu"></div>
        </div>
      </div>
    </div>
    <!-- end first menu -->
    <section class="Design-section section section--descriptions">
      <div class="Design-row row">
        <div class="section-col col-md-4 border-end">
          <img
            src="assets/img-front/m1.svg"
            class="Design-svg img-fluid"
            alt=""
          />
          <div class="px-4">
            <h4 class="Design-h4 mb-4">Rapido</h4>
            <p class="">
              Sistema ágil para soluciona problemas existentes, si hay fallas en
              los cálculos, estos se pueden solucionar de manera rápida
            </p>
          </div>
        </div>
        <div class="section-col col-md-4">
          <img
            src="assets/img-front/m2.svg"
            class="Design-svg img-fluid"
            alt=""
          />
          <div class="px-4">
            <h4 class="Design-h4 mb-4">Multiprocesos</h4>
            <p class="">
              La estructura interna permite realizar procesos rapidos y
              múltiples, se puede trabajar de manera simultanea con muchas
              ventanas de sistema al mismo tiempo.
            </p>
          </div>
        </div>
        <div class="section-col col-md-4">
          <img
            src="assets/img-front/m3.svg"
            class="Design-svg img-fluid"
            alt=""
          />
          <div class="px-4">
            <h4 class="Design-h4 mb-4">Centralizado</h4>
            <p>
              Los datos almacenados son centralizados, se reutilizan esquemas
              para no sobrecargar la base de datos.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="Design-section section section--guide">
      <div class="row">
        <div class="col-lg-5">
          <div class="Design-miniSidenav miniSidenav">
            <app-home-data
              (emitPostEvent)="getEventSidenav($event)"
            ></app-home-data>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="mt-4">
            <div *ngIf="posEventSidenav == 0">
              <img
                src="assets/img-front/s1.png"
                alt=""
                class="section-img img-fluid rounded-3"
              />
            </div>
            <div *ngIf="posEventSidenav == 1">
              <img
                src="assets/img-front/s2.png"
                alt=""
                class="section-img img-fluid rounded-3"
              />
            </div>
            <div *ngIf="posEventSidenav == 2" class="text-center mt-0">
              <img
                src="assets/img-front/s3.png"
                alt=""
                class="section-img img-fluid mt-0 rounded-3"
              />
            </div>
            <div *ngIf="posEventSidenav == 3">
              <img
                src="assets/img-front/s4.png"
                alt=""
                class="section-img img-fluid rounded-3"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="Design-section section section--present">
      <h2 class="fs-1 text-light">
        Una guía rápida,sencilla,entendible y concisa
      </h2>
      <p class="text-light section--title fs-5 text-center">
        Registrate y añade contenido a la guía
      </p>
      <p class="mt-4 section-p text-center w-75">
        Si necesitas agregar contenido a la guía, tendrás que haberte registrado
        y además debes tener el rol de administrador, si te registraste
        correctamente...para cambiar de rol necesitas comunicarte con un
        administrador.
      </p>

      <img
        src="assets/img-front/login.png"
        alt=""
        class="section-img img-flui mt-5 rounded-3"
      />

      <button class="Design-button btn p-3 px-5" routerLink="/auth/register">
        Registrate
      </button>
    </section>
  </div>
</div>
<app-footer-design></app-footer-design>
