<div class="Resuen container h-100 p-5" data-bs-theme="dark" #resumenComponent>

    <h5 class="Resumen-h5 text-dark fw-bold fs-4">Runta introductoria</h5>
    <p class="Resumen-p mt-1">Es importante saber como funciona el flujo del sistema para comprender a donde ir y el
        porqué del problema. Para esto el sistema 2 ofrece tres vías principales de información.</p>

    <h2 class="Resumen-h2 text-muted my-2 fs-4 mt-5">Flujo principal del sistema</h2>

    <div class="my-4">
        <p-timeline [value]="cardsDescription" align="alternate">
            <ng-template pTemplate="marker" let-event>
                <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                    <i [ngClass]="event.icon"></i>
                </span>
            </ng-template>
            <ng-template pTemplate="content" let-event>
                <p-card [header]="event.status" [subheader]="event.date">
                    <p *ngIf="event.text"> {{event.text}}</p>
                    <button [routerLink]="event.link" pButton label="Leer más" class="p-button-text"></button>
                </p-card>
            </ng-template>
        </p-timeline>
    </div>

    <h2 class="Resumen-h2 text-muted my-2 fs-4">Ruta común a seguir</h2>
    <div class="Resumen-timeline my-5">
        <p-timeline [value]="timelineDescription" align="alternate">
            <ng-template pTemplate="content" let-event>
                <a [routerLink]="event.step" class="text-decoration-none text-black">{{event.status}}</a>
            </ng-template>
        </p-timeline>
    </div>

</div>