@use "src/_custom" as *;

.AddSection {
  background-image: url(../../../../assets/bg-home.jpg);
}

.Agregar {
  &-svg {
    &:hover {
      cursor: pointer;
    }
  }

  &-img {
    max-width: 10rem;
  }
}
