@use "src/_custom" as *;

.AddSection {
  background-image: url(../../../../assets/bg-home.jpg);

  &-banner {
    max-height: 24rem;
    overflow-y: auto;
  }
}

.Agregar {
  &-svg {
    &:hover {
      cursor: pointer;
    }
  }

  &-img {
    max-width: 10rem;
  }
}
