<header class="Aheader bg-dark" data-bs-theme="dark">
  <img
    class="Header-logo"
    src="assets/logo.jpg"
    routerLink="/lpm/principal/resumen"
  />
  <div class="Aheader-contentUser" *ngIf="user">
    <small class="text-light me-3" 
      >Bienvenido {{ user.nombre ?? "" }} {{ user.apellido ?? "" }}</small
    >
    <div class="Aheader-userAvatar dropdown">
      <img
        [src]="user.imagenUrl"
        alt="User avatar"
        class="Aheader-img img-fluid"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      />

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="">Perfiles</a></li>
        <li><a class="dropdown-item" href="">Añadir Secciones</a></li>
        <li><a class="dropdown-item" href="">Editar Secciones</a></li>
      </ul>
    </div>
  </div>
</header>
