@use "src/_custom" as *;

.Sidenav {
     background-color: #F5F5F5;

  &-button {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
  }

  &-a {
    font-size: 13px;
    text-transform: capitalize;

  }
}
