<div class="Home container-fluid h-100  p-0 m-0 bg-blue">
  <app-navbar></app-navbar>
  <div class="Home-container  m-0 h-100">
    <div class="Home-sidenav m-0 p-0" #sidenav>
      <app-sidenav></app-sidenav>
    </div>
    <div class="Home-content p-0 m-0 expand" #content>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>












<!-- <div class="Container-general container">
  <header class="mt-2">
    <div class="border-bottom d-flex flex-row justify-content-between align-items-center">
      <a href="" class="text-secondary"> </a>
      <h1> <img src="assets/logo.jpg" alt="" class="img-fluid Container-img" #logo> </h1>
      <div class="d-flex flex-row">
        <p></p>
        <button class="btn btn-outline btn-sm border border-secondary ">BETA</button>
      </div>
    </div>
    <div class="">
      <app-navbar></app-navbar>
    </div>

  </header>


  <section class="Container-section text-center rounded-3 mt-2" #banner>
    <h1 class="Container-h1 display-4 fw-bold primary m-auto">Guía del Sistema de Contabilidad</h1>
    <p class="mt-3">Guías del sistema de contabilidad N°2 que pertenece a Julio</p>
  </section>



  <section class="Container-advertisements">
    <div class="row">
      <div class="col-md-6 mt-4" #funcional>
        <div class="rounded-3 border shadow-sm d-flex flex-row">
          <div class="content-text p-4">
            <span class="text-primary fw-bold">Funcional</span>
            <h3 class="fs-3 mt-1">Concepto 1ero Mayo</h3>
            <span class="text-muted fs-6">May 20</span>
            <p class="mb-5 pb-4">Se actualiza y activa de manera general el concepto de Bonificación 1ero de
              Mayo en el sistema </p>
            <a href="#" class=""></a>
          </div>
          <div class="content-img">
            <img src="" alt="">
          </div>
        </div>

      </div>


      <div class="col-md-6 mt-4" #diseño>
        <div class="rounded-3 border shadow-sm d-flex flex-row">
          <div class="content-text p-4">
            <span class="text-success fw-bold">Diseño</span>
            <h3 class="fs-3 mt-1">Firma boletas digitales</h3>
            <span class="text-muted fs-6">Nov 12</span>
            <p class="mb-5 pb-4">Se actualizan en algunos colegios las firmas digitales presentes en el
              reporte
              de boletas mensuales, gratificación y CTS</p>
            <a href="#" class=""></a>
          </div>
          <div class="content-img">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <h3 class="mt-4 mb-4 px-1 fst-italic "> <a routerLink="" class="  p-2 rounded-3 ">Menú principal</a> </h3>
  <hr>

  <section>
    <div class="row ">
      <div class="col-md-4 order-md-last p-4">
        <div class="d-flex">

          <div class="p-4 rounded-3 border mb-4 bg-light">
            <figure>
              <blockquote class="blockquote">
                <p>Recuerda que no seguir correctamente este flujo principal, puede generar problemas.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                En el caso de ceses, también en proximos periodos
              </figcaption>
            </figure>
          </div>

          <div class="d-flex justify-content-center justify-content-md-start">
            <app-sidenav></app-sidenav>
          </div>
        </div>
      </div>
      <div class="col-md-8 order-md-first mt-1 h-100"> -->
<!--       </div>
    </div>
  </section> -->